In [1]:
import pandas as pd
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
%matplotlib inline
import seaborn as sns
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [2]:
df=pd.read_csv('file:///C:/Users/Md%20Asif%20Ikbal/Downloads/SolarPrediction.csv')
df.head()

,UNIXTime,Data,Time,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,TimeSunRise,TimeSunSet
0,1475229326,9/29/2016 12:00:00 AM,23:55:26,1.21,48,30.46,59,177.39,5.62,06:13:00,18:13:00
1,1475229023,9/29/2016 12:00:00 AM,23:50:23,1.21,48,30.46,58,176.78,3.37,06:13:00,18:13:00
2,1475228726,9/29/2016 12:00:00 AM,23:45:26,1.23,48,30.46,57,158.75,3.37,06:13:00,18:13:00
3,1475228421,9/29/2016 12:00:00 AM,23:40:21,1.21,48,30.46,60,137.71,3.37,06:13:00,18:13:00
4,1475228124,9/29/2016 12:00:00 AM,23:35:24,1.17,48,30.46,62,104.95,5.62,06:13:00,18:13:00

In [3]:
!pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip

Collecting https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
  Downloading https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
Collecting joblib~=1.1.0
  Using cached joblib-1.1.0-py2.py3-none-any.whl (306 kB)
Requirement already satisfied: scipy>=1.4.1 in c:\users\md asif ikbal\anaconda3\lib\site-packages (from pandas-profiling==3.1.1) (1.4.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\users\md asif ikbal\anaconda3\lib\site-packages (from pandas-profiling==3.1.1) (1.3.1)
Collecting matplotlib>=3.2.0
  Downloading matplotlib-3.5.1-cp37-cp37m-win_amd64.whl (7.2 MB)
Requirement already satisfied: pydantic>=1.8.1 in c:\users\md asif ikbal\anaconda3\lib\site-packages (from pandas-profiling==3.1.1) (1.8.2)
Requirement already satisfied: PyYAML>=5.0.0 in c:\users\md asif ikbal\anaconda3\lib\site-packages (from pandas-profiling==3.1.1) (5.3)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\md asif ikbal\anaconda3\lib\site-packages (from pandas-profiling==3.1.1) (2.11.1)
Collecting markupsafe~=2.0.1
  Downloading MarkupSafe-2.0.1-cp37-cp37m-win_amd64.whl (14 kB)
Collecting visions[type_image_path]==0.7.4
  Downloading visions-0.7.4-py3-none-any.whl (102 kB)
Requirement already satisfied: numpy>=1.16.0 in c:\users\md asif ikbal\anaconda3\lib\site-packages (from pandas-profiling==3.1.1) (1.19.5)
Collecting htmlmin>=0.1.12
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
Requirement already satisfied: missingno>=0.4.2 in c:\users\md asif ikbal\anaconda3\lib\site-packages (from pandas-profiling==3.1.1) (0.5.0)
Collecting phik>=0.11.1
  Downloading phik-0.12.0-cp37-cp37m-win_amd64.whl (660 kB)
Collecting tangled-up-in-unicode==0.2.0
  Downloading tangled_up_in_unicode-0.2.0-py3-none-any.whl (4.7 MB)
Collecting requests>=2.24.0
  Using cached requests-2.26.0-py2.py3-none-any.whl (62 kB)
Requirement already satisfied: tqdm>=4.48.2 in c:\users\md asif ikbal\anaconda3\lib\site-packages (from pandas-profiling==3.1.1) (4.62.0)
Collecting seaborn>=0.10.1
  Downloading seaborn-0.11.2-py3-none-any.whl (292 kB)
Collecting multimethod>=1.4
  Downloading multimethod-1.6-py3-none-any.whl (9.4 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\md asif ikbal\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling==3.1.1) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\md asif ikbal\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling==3.1.1) (2019.3)
Collecting fonttools>=4.22.0
  Using cached fonttools-4.28.5-py3-none-any.whl (890 kB)
Requirement already satisfied: pillow>=6.2.0 in c:\users\md asif ikbal\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.1) (7.0.0)
Requirement already satisfied: cycler>=0.10 in c:\users\md asif ikbal\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.1) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\md asif ikbal\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.1) (1.1.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\md asif ikbal\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.1) (2.4.6)
Requirement already satisfied: packaging>=20.0 in c:\users\md asif ikbal\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.1) (20.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\md asif ikbal\anaconda3\lib\site-packages (from pydantic>=1.8.1->pandas-profiling==3.1.1) (3.7.4.3)
Requirement already satisfied: attrs>=19.3.0 in c:\users\md asif ikbal\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling==3.1.1) (19.3.0)
Requirement already satisfied: networkx>=2.4 in c:\users\md asif ikbal\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling==3.1.1) (2.4)
Collecting imagehash; extra == "type_image_path"
  Downloading ImageHash-4.2.1.tar.gz (812 kB)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\md asif ikbal\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling==3.1.1) (2019.11.28)
Collecting charset-normalizer~=2.0.0; python_version >= "3"
  Using cached charset_normalizer-2.0.9-py3-none-any.whl (39 kB)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in c:\users\md asif ikbal\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling==3.1.1) (2.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\md asif ikbal\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling==3.1.1) (1.25.8)
Requirement already satisfied: colorama; platform_system == "Windows" in c:\users\md asif ikbal\anaconda3\lib\site-packages (from tqdm>=4.48.2->pandas-profiling==3.1.1) (0.4.3)
Requirement already satisfied: six>=1.5 in c:\users\md asif ikbal\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling==3.1.1) (1.15.0)
Requirement already satisfied: setuptools in c:\users\md asif ikbal\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib>=3.2.0->pandas-profiling==3.1.1) (45.2.0.post20200210)
Requirement already satisfied: decorator>=4.3.0 in c:\users\md asif ikbal\anaconda3\lib\site-packages (from networkx>=2.4->visions[type_image_path]==0.7.4->pandas-profiling==3.1.1) (4.4.1)
Requirement already satisfied: PyWavelets in c:\users\md asif ikbal\anaconda3\lib\site-packages (from imagehash; extra == "type_image_path"->visions[type_image_path]==0.7.4->pandas-profiling==3.1.1) (1.1.1)
Building wheels for collected packages: pandas-profiling, htmlmin, imagehash
  Building wheel for pandas-profiling (setup.py): started
  Building wheel for pandas-profiling (setup.py): finished with status 'done'
  Created wheel for pandas-profiling: filename=pandas_profiling-3.1.1-py2.py3-none-any.whl size=261270 sha256=b3d55095c9547ec750ba13457218fc8054e8fc1c8c949ce397bb553b2b1f7aef
  Stored in directory: C:\Users\MDASIF~1\AppData\Local\Temp\pip-ephem-wheel-cache-w25dbcty\wheels\cc\d5\09\083fb07c9363a2f45854b0e3a7de7d7c560f07da74b9e9769d
  Building wheel for htmlmin (setup.py): started
  Building wheel for htmlmin (setup.py): finished with status 'done'
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27085 sha256=ed45f5c994a6b3c5c85226640f5d7e61eb9b8d603d77432c3486e285dad624f6
  Stored in directory: c:\users\md asif ikbal\appdata\local\pip\cache\wheels\70\e1\52\5b14d250ba868768823940c3229e9950d201a26d0bd3ee8655
  Building wheel for imagehash (setup.py): started
  Building wheel for imagehash (setup.py): finished with status 'done'
  Created wheel for imagehash: filename=ImageHash-4.2.1-py2.py3-none-any.whl size=295198 sha256=2d526c9eefda7cd18ca147fc06b801cc824ab438d4375aed02b5306c7bd4f636
  Stored in directory: c:\users\md asif ikbal\appdata\local\pip\cache\wheels\4c\d5\59\5e3e297533ddb09407769762985d134135064c6831e29a914e
Successfully built pandas-profiling htmlmin imagehash
Installing collected packages: joblib, fonttools, matplotlib, markupsafe, tangled-up-in-unicode, multimethod, imagehash, visions, htmlmin, phik, charset-normalizer, requests, seaborn, pandas-profiling
  Attempting uninstall: joblib
    Found existing installation: joblib 0.14.1
    Uninstalling joblib-0.14.1:
      Successfully uninstalled joblib-0.14.1
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.1.3
    Uninstalling matplotlib-3.1.3:
      Successfully uninstalled matplotlib-3.1.3
  Attempting uninstall: markupsafe
    Found existing installation: MarkupSafe 1.1.1
    Uninstalling MarkupSafe-1.1.1:
      Successfully uninstalled MarkupSafe-1.1.1
  Attempting uninstall: requests
    Found existing installation: requests 2.22.0
    Uninstalling requests-2.22.0:
      Successfully uninstalled requests-2.22.0
  Attempting uninstall: seaborn
    Found existing installation: seaborn 0.10.0
    Uninstalling seaborn-0.10.0:
      Successfully uninstalled seaborn-0.10.0
Successfully installed charset-normalizer-2.0.9 fonttools-4.28.5 htmlmin-0.1.12 imagehash-4.2.1 joblib-1.1.0 markupsafe-2.0.1 matplotlib-3.5.1 multimethod-1.6 pandas-profiling-3.1.1 phik-0.12.0 requests-2.26.0 seaborn-0.11.2 tangled-up-in-unicode-0.2.0 visions-0.7.4

ERROR: bokeh 2.3.3 has requirement pillow>=7.1.0, but you'll have pillow 7.0.0 which is incompatible.
ERROR: phik 0.12.0 has requirement scipy>=1.5.2, but you'll have scipy 1.4.1 which is incompatible.

In [12]:
df.dtypes

UNIXTime                    int64
Data                       object
Time                       object
Radiation                 float64
Temperature                 int64
Pressure                  float64
Humidity                    int64
WindDirection(Degrees)    float64
Speed                     float64
TimeSunRise                object
TimeSunSet                 object
dtype: object

In [13]:
df.isnull().sum()

UNIXTime                  0
Data                      0
Time                      0
Radiation                 0
Temperature               0
Pressure                  0
Humidity                  0
WindDirection(Degrees)    0
Speed                     0
TimeSunRise               0
TimeSunSet                0
dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32686 entries, 0 to 32685
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   UNIXTime                32686 non-null  int64
 1   Data                    32686 non-null  object
 2   Time                    32686 non-null  object
 3   Radiation               32686 non-null  float64
 4   Temperature             32686 non-null  int64
 5   Pressure                32686 non-null  float64
 6   Humidity                32686 non-null  int64
 7   WindDirection(Degrees)  32686 non-null  float64
 8   Speed                   32686 non-null  float64
 9   TimeSunRise             32686 non-null  object
 10  TimeSunSet              32686 non-null  object
dtypes: float64(4), int64(3), object(4)
memory usage: 2.7+ MB

In [15]:
df.describe()

,UNIXTime,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed
count,3.268600e+04,32686.000000,32686.000000,32686.000000,32686.000000,32686.000000,32686.000000
mean,1.478047e+09,207.124697,51.103255,30.422879,75.016307,143.489821,6.243869
std,3.005037e+06,315.916387,6.201157,0.054673,25.990219,83.167500,3.490474
min,1.472724e+09,1.110000,34.000000,30.190000,8.000000,0.090000,0.000000
25%,1.475546e+09,1.230000,46.000000,30.400000,56.000000,82.227500,3.370000
50%,1.478026e+09,2.660000,50.000000,30.430000,85.000000,147.700000,5.620000
75%,1.480480e+09,354.235000,55.000000,30.460000,97.000000,179.310000,7.870000
max,1.483265e+09,1601.260000,71.000000,30.560000,103.000000,359.950000,40.500000

In [17]:
df.corr().describe().T

,count,mean,std,min,25%,50%,75%,max
UNIXTime,7.0,0.068698,0.461446,-0.369169,-0.206651,-0.063117,0.163236,1.0
Radiation,7.0,0.198545,0.482115,-0.230324,-0.153728,0.073627,0.426985,1.0
Temperature,7.0,0.157289,0.540006,-0.369169,-0.272238,-0.031458,0.523064,1.0
Pressure,7.0,0.080222,0.462923,-0.332016,-0.226492,-0.083639,0.215095,1.0
Humidity,7.0,-0.001682,0.453013,-0.285055,-0.225072,-0.211624,-0.032475,1.0
WindDirection(Degrees),7.0,0.072160,0.440640,-0.259421,-0.229667,-0.001833,0.112853,1.0
Speed,7.0,0.141980,0.398466,-0.211624,-0.057549,0.073092,0.123743,1.0

In [18]:
df.mean()

C:\Users\Md Asif Ikbal\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

UNIXTime                  1.478047e+09
Radiation                 2.071247e+02
Temperature               5.110326e+01
Pressure                  3.042288e+01
Humidity                  7.501631e+01
WindDirection(Degrees)    1.434898e+02
Speed                     6.243869e+00
dtype: float64

In [19]:
df.min()

UNIXTime                             1472724008
Data                      10/1/2016 12:00:00 AM
Time                                   00:00:01
Radiation                                  1.11
Temperature                                  34
Pressure                                  30.19
Humidity                                      8
WindDirection(Degrees)                     0.09
Speed                                       0.0
TimeSunRise                            06:07:00
TimeSunSet                             17:42:00
dtype: object

In [20]:
df.max()

UNIXTime                            1483264501
Data                      9/9/2016 12:00:00 AM
Time                                  23:56:25
Radiation                              1601.26
Temperature                                 71
Pressure                                 30.56
Humidity                                   103
WindDirection(Degrees)                  359.95
Speed                                     40.5
TimeSunRise                           06:57:00
TimeSunSet                            18:38:00
dtype: object

In [21]:
for i  in df.columns:
    print(f'unique values in column "{i}" is\n {df[i].value_counts()}')
    print('-------------------------------------------------')

unique values in column "UNIXTime" is
 1475229326    1
1478816701    1
1478812801    1
1478813103    1
1478813402    1
             ..
1476949217    1
1476949521    1
1476949818    1
1476950121    1
1480586402    1
Name: UNIXTime, Length: 32686, dtype: int64
-------------------------------------------------
unique values in column "Data" is
 12/1/2016 12:00:00 AM     288
12/25/2016 12:00:00 AM    288
12/28/2016 12:00:00 AM    288
11/17/2016 12:00:00 AM    288
12/31/2016 12:00:00 AM    288
                         ...
9/16/2016 12:00:00 AM     185
12/8/2016 12:00:00 AM     154
9/8/2016 12:00:00 AM      142
9/15/2016 12:00:00 AM     140
9/9/2016 12:00:00 AM      123
Name: Data, Length: 118, dtype: int64
-------------------------------------------------
unique values in column "Time" is
 16:20:18    24
20:05:18    21
18:45:18    21
15:45:18    21
19:20:18    21
            ..
13:50:41     1
13:05:09     1
13:20:28     1
13:20:34     1
01:50:03     1
Name: Time, Length: 8299, dtype: int64
-------------------------------------------------
unique values in column "Radiation" is
 1.22      2264
1.23      2110
1.21      2010
1.24      1725
1.20      1558
          ...
645.30       1
627.81       1
609.59       1
592.25       1
4.29         1
Name: Radiation, Length: 14434, dtype: int64
-------------------------------------------------
unique values in column "Temperature" is
 45    2951
48    2610
47    2488
46    2135
50    2097
49    2038
51    1916
52    1557
53    1339
54    1272
44    1237
57    1071
55    1061
58    1021
56     988
59     921
60     790
62     679
63     678
61     659
43     615
64     528
42     422
41     395
65     257
40     230
66     146
38     107
39     100
67      96
37      93
68      51
36      38
70      36
69      36
71      17
35      10
34       1
Name: Temperature, dtype: int64
-------------------------------------------------
unique values in column "Pressure" is
 30.44    3297
30.43    3170
30.45    3068
30.42    2867
30.46    2706
30.41    2340
30.47    2272
30.40    2025
30.48    1619
30.39    1486
30.49    1081
30.38     929
30.50     641
30.37     638
30.36     503
30.34     460
30.31     329
30.32     323
30.35     319
30.33     298
30.29     284
30.51     281
30.28     261
30.30     259
30.52     195
30.26     185
30.25     174
30.27     121
30.24     113
30.54      84
30.23      74
30.53      60
30.21      53
30.22      47
30.20      41
30.55      33
30.56      33
30.19      17
Name: Pressure, dtype: int64
-------------------------------------------------
unique values in column "Humidity" is
 102    2107
101    2003
93     1796
100    1507
99     1220
       ...
13       43
14       42
12       14
11        4
8         1
Name: Humidity, Length: 94, dtype: int64
-------------------------------------------------
unique values in column "WindDirection(Degrees)" is
 0.11      94
359.93    65
359.92    47
0.10      39
0.12      36
          ..
112.21     1
95.20      1
113.22     1
91.49      1
117.78     1
Name: WindDirection(Degrees), Length: 17951, dtype: int64
-------------------------------------------------
unique values in column "Speed" is
 5.62     4609
4.50     4503
6.75     4326
3.37     3874
7.87     3550
2.25     2777
9.00     2504
10.12    1720
1.12     1373
11.25    1084
12.37     691
0.00      492
13.50     453
14.62     251
15.75     150
16.87      88
18.00      57
19.12      35
20.25      25
24.75      17
23.62      16
21.37      11
27.00       9
29.25       9
31.50       9
25.87       9
22.50       8
32.62       7
28.12       7
30.37       6
33.75       4
36.00       3
34.87       3
37.12       2
38.25       2
39.37       1
40.50       1
Name: Speed, dtype: int64
-------------------------------------------------
unique values in column "TimeSunRise" is
 06:11:00    1399
06:08:00    1327
06:10:00    1169
06:13:00    1132
06:14:00    1127
06:16:00    1127
06:12:00    1119
06:09:00    1026
06:19:00     864
06:56:00     863
06:23:00     862
06:21:00     860
06:18:00     853
06:15:00     851
06:17:00     844
06:42:00     576
06:55:00     576
06:31:00     576
06:27:00     576
06:35:00     576
06:30:00     576
06:38:00     576
06:54:00     576
06:28:00     576
06:48:00     576
06:26:00     575
06:47:00     575
06:53:00     575
06:32:00     575
06:34:00     575
06:22:00     575
06:51:00     574
06:20:00     574
06:25:00     574
06:24:00     574
06:37:00     574
06:52:00     574
06:57:00     573
06:50:00     573
06:07:00     529
06:43:00     288
06:46:00     288
06:29:00     288
06:33:00     288
06:39:00     288
06:41:00     288
06:36:00     287
06:49:00     286
06:44:00     249
06:40:00     230
06:45:00     154
Name: TimeSunRise, dtype: int64
-------------------------------------------------
unique values in column "TimeSunSet" is
 17:42:00    3682
17:43:00    2264
17:44:00    1881
17:46:00    1722
17:45:00    1440
17:51:00    1151
17:52:00    1150
17:49:00    1149
17:47:00    1148
17:48:00    1148
17:54:00    1147
17:50:00     864
17:56:00     576
17:53:00     573
18:03:00     564
18:08:00     563
17:59:00     561
18:35:00     561
18:15:00     544
18:26:00     422
17:57:00     288
17:55:00     288
18:18:00     287
18:17:00     285
18:13:00     285
18:02:00     284
18:11:00     284
18:29:00     284
18:16:00     284
18:07:00     284
18:06:00     284
18:19:00     284
18:10:00     283
18:21:00     283
18:34:00     283
17:58:00     283
18:05:00     283
18:01:00     283
18:00:00     282
18:20:00     282
18:28:00     282
18:36:00     282
18:14:00     282
18:27:00     281
18:24:00     281
18:09:00     281
18:04:00     279
18:37:00     279
18:22:00     275
18:23:00     275
18:38:00     250
18:33:00     201
18:30:00     195
18:25:00     185
18:32:00     142
18:31:00     123
Name: TimeSunSet, dtype: int64
-------------------------------------------------

In [22]:
df.skew()

C:\Users\Md Asif Ikbal\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

UNIXTime                  0.009365
Radiation                 1.369681
Temperature               0.522103
Pressure                 -1.226962
Humidity                 -0.776280
WindDirection(Degrees)    0.568612
Speed                     1.469814
dtype: float64

In [23]:
df.head()

,UNIXTime,Data,Time,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,TimeSunRise,TimeSunSet
0,1475229326,9/29/2016 12:00:00 AM,23:55:26,1.21,48,30.46,59,177.39,5.62,06:13:00,18:13:00
1,1475229023,9/29/2016 12:00:00 AM,23:50:23,1.21,48,30.46,58,176.78,3.37,06:13:00,18:13:00
2,1475228726,9/29/2016 12:00:00 AM,23:45:26,1.23,48,30.46,57,158.75,3.37,06:13:00,18:13:00
3,1475228421,9/29/2016 12:00:00 AM,23:40:21,1.21,48,30.46,60,137.71,3.37,06:13:00,18:13:00
4,1475228124,9/29/2016 12:00:00 AM,23:35:24,1.17,48,30.46,62,104.95,5.62,06:13:00,18:13:00

In [30]:
df.drop(columns=['Data'],inplace=True)

In [32]:
import re

df['Time_Hour'] = df['Time'].apply(lambda x: re.search(r'^\d+', x).group(0)).astype(np.int)
df['Time_Minute'] = df['Time'].apply(lambda x: re.search(r'(?<=:)\d+(?=:)', x).group(0)).astype(np.int)
df['Time_Second'] = df['Time'].apply(lambda x: re.search(r'\d+$', x).group(0)).astype(np.int)

df = df.drop('Time', axis=1)

In [33]:
df.head()

,UNIXTime,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,TimeSunRise,TimeSunSet,Time_Hour,Time_Minute,Time_Second
0,1475229326,1.21,48,30.46,59,177.39,5.62,06:13:00,18:13:00,23,55,26
1,1475229023,1.21,48,30.46,58,176.78,3.37,06:13:00,18:13:00,23,50,23
2,1475228726,1.23,48,30.46,57,158.75,3.37,06:13:00,18:13:00,23,45,26
3,1475228421,1.21,48,30.46,60,137.71,3.37,06:13:00,18:13:00,23,40,21
4,1475228124,1.17,48,30.46,62,104.95,5.62,06:13:00,18:13:00,23,35,24

In [34]:
df['SunriseHour'] = df['TimeSunRise'].apply(lambda x: re.search(r'^\d+', x).group(0)).astype(np.int)
df['SunriseMinute'] = df['TimeSunRise'].apply(lambda x: re.search(r'(?<=:)\d+(?=:)', x).group(0)).astype(np.int)

df['SunsetHour'] = df['TimeSunSet'].apply(lambda x: re.search(r'^\d+', x).group(0)).astype(np.int)
df['SunsetMinute'] = df['TimeSunSet'].apply(lambda x: re.search(r'(?<=:)\d+(?=:)', x).group(0)).astype(np.int)

df = df.drop(['TimeSunRise', 'TimeSunSet'], axis=1)

In [36]:
df.drop(columns=['SunriseHour'],inplace=True)

In [38]:
x=df.drop(['Radiation'],axis='columns')
y=df.Radiation.values

In [40]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=300)

In [54]:
from sklearn.ensemble import RandomForestRegressor

In [55]:
rnd=RandomForestClassifier()
rnd = RandomForestRegressor(max_depth=25, random_state=3)
rnd.fit(xtrain, ytrain)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=25, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=3, verbose=0, warm_start=False)

In [56]:
rnd.score(xtrain,ytrain)

0.9909777295363441

In [57]:
rnd.score(xtest,ytest)

0.9409629112408275

In [59]:
df.head()

,UNIXTime,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,Time_Hour,Time_Minute,Time_Second,SunriseMinute,SunsetHour,SunsetMinute
0,1475229326,1.21,48,30.46,59,177.39,5.62,23,55,26,13,18,13
1,1475229023,1.21,48,30.46,58,176.78,3.37,23,50,23,13,18,13
2,1475228726,1.23,48,30.46,57,158.75,3.37,23,45,26,13,18,13
3,1475228421,1.21,48,30.46,60,137.71,3.37,23,40,21,13,18,13
4,1475228124,1.17,48,30.46,62,104.95,5.62,23,35,24,13,18,13

In [61]:
object_col=[]
num_col=[]
for i in df.columns:
    if df[i].dtype=='object':
        object_col.append(i)
    else:
        num_col.append(i)

In [62]:
object_col

[]

In [63]:
num_col

['UNIXTime',
 'Radiation',
 'Temperature',
 'Pressure',
 'Humidity',
 'WindDirection(Degrees)',
 'Speed',
 'Time_Hour',
 'Time_Minute',
 'Time_Second',
 'SunriseMinute',
 'SunsetHour',
 'SunsetMinute']

In [67]:
df.columns

Index(['UNIXTime', 'Radiation', 'Temperature', 'Pressure', 'Humidity',
       'WindDirection(Degrees)', 'Speed', 'Time_Hour', 'Time_Minute',
       'Time_Second', 'SunriseMinute', 'SunsetHour', 'SunsetMinute'],
      dtype='object')

In [73]:
df.head()

,UNIXTime,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,Time_Hour,Time_Minute,Time_Second,SunriseMinute,SunsetHour,SunsetMinute
0,1475229326,1.21,48,30.46,59,177.39,5.62,23,55,26,13,18,13
1,1475229023,1.21,48,30.46,58,176.78,3.37,23,50,23,13,18,13
2,1475228726,1.23,48,30.46,57,158.75,3.37,23,45,26,13,18,13
3,1475228421,1.21,48,30.46,60,137.71,3.37,23,40,21,13,18,13
4,1475228124,1.17,48,30.46,62,104.95,5.62,23,35,24,13,18,13

# For data visualization it`s take a long time for that I will skip it